<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")" />
    <!--[if IE]>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/vnd.microsoft.icon" />
    <![endif]-->

    <title>@ViewBag.Title – Златоуст</title>

    @Styles.Render("~/Content/css")

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Златоус", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@

    <div class="overlay"></div>
    <section class="top-part">
        <video controls autoplay loop>
            <source src="~/Content/Videos/Pesach.mp4" type="video/mp4">
            <source src="~/Content/Videos/Pesach.ogv" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </section>

    <section class="cd-hero">
        <div class="cd-slider-nav">
            <nav>
                <span class="cd-marker item-1"></span>
                <ul>
                    <li><a href="@Url.Action("PetShop", "Home")"><div class="image-icon"><img src="~/Content/Images/home-icon.png"></div><h6>Зоомагазин</h6></a></li>
                    <li><a href="@Url.Action("Index", "Person")"><div class="image-icon"><img src="~/Content/Images/about-icon.png"></div><h6>Ветклиника</h6></a></li>
                    <li><a href="@Url.Action("Dictionaries", "Home")"><div class="image-icon"><img src="~/Content/Images/dictionary3.png"></div><h6>Справочники</h6></a></li>
                    <li><a href="@Url.Action("Reports", "Home")"><div class="image-icon"><img src="~/Content/Images/graphic-comparison2.png"></div><h6>Итоги за месяц</h6></a></li>

                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><div class="image-icon"><img src="~/Content/Images/power-button2.png"></div><h6>Выйти</h6></a></li>

                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @style = "display: none;" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    }
                </ul>
            </nav>
        </div> <!-- .cd-slider-nav -->

        <ul class="cd-hero-slider">
            <li class="selected">
                <div class="heading">
                    <h1>@ViewBag.Title</h1>
                    <span>@ViewBag.Subtitle</span>
                </div>
                <div class="cd-full-width first-slide"></div>
            </li>
        </ul>

        <div class="cd-full-width content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </section> <!-- .cd-hero -->

    <footer>
        <p>
            Copyright &copy; 2017 Златоус
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
