@model VeterinaryClinic.Web.Models.LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Выполнить вход";
}

<!DOCTYPE html>
<html>

<head>
    <title>Вход | Златоус</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
</head>
<body>

    <!-----start-main---->
    <div class="login-form">
        <h1>Выполнить вход</h1>
        @*<h2><a href="#">Create Account</a></h2>*@
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
           
            <li><input type="text" class="text" name="Email" placeholder="Логин" autocomplete="off" /><span href="#" class="icon user"></span></li>         
            <li><input type="password" name="Password" placeholder="Пароль" autocomplete="off" /><span href="#" class="icon lock"></span></li>
            <div class="forgot">
                @*<h3><a href="#">Forgot Password?</a></h3>*@
                <input type="submit" onclick="myFunction()" value="Войти" /> <a href="#" class="icon arrow"></a>
            </div>
        }
    </div>
    <!--//End-login-form-->

    <!-----start-copyright---->
    @*<div class="copy-right">
        <p>Златоус, 2017г.</p>
    </div>*@
    <!-----//end-copyright---->

    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>